<% @page_title = "Alumni Survey | Thanks" -%> <h2 class='User_Header'>Thanks for taking this survey!!! </h2>
<%= button_to "<< Back", {:action => "demographics"} , {:class => "submit"}%>
<%= button_to "End", {:action => "logout"} , {:class => "submit"}%>